# Turn on URL rewriting
RewriteEngine On

# Set the base URL to /duan/ if the project is in a subfolder
RewriteBase /duan/admin/index.php
# Ensure the request is not for an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to duan/admin/index.php
RewriteRule ^(.*)$ duan/admin/index.php [L]
